<form [ngFormModel]="form" (ngSubmit) = "onSubmit()">
    <div class="form-group">
        <label for="oldpwd">Old Password</label>
        <input 
            id="oldpwd" 
            type="text" 
            class="form-control"
            ngControl = "oldpwd"
            #oldpwd= "ngForm">
        <div *ngIf= "oldpwd.control.pending"> Checking...</div>
        <div *ngIf= "oldpwd.errors && oldpwd.touched">
            <div *ngIf= "oldpwd.errors.invalidUserName" class="alert alert-danger">Username Incorrect</div>
            <div *ngIf= "oldpwd.errors.noSpace" class="alert alert-danger">No Space</div>
            <div *ngIf= "oldpwd.errors.uniqueName" class="alert alert-danger"> Name Should be Unique </div>
            <div *ngIf= "oldpwd.errors.required " class="alert alert-danger">Old Password is required</div>
        </div>
    </div>
        <div class="form-group">
        <label for="newpwd">New Password</label>
        <input 
            id="newpwd" 
            type="password" 
            class="form-control"
            ngControl = "newpwd"
            minlength="5"
            #newpwd= "ngForm">
        <div *ngIf= "newpwd.errors && newpwd.touched">
            <div *ngIf="newpwd.errors.minlength">Minimum length should be {{newpwd.errors.minlength.requiredLength}}</div>
            <div *ngIf= "newpwd.errors.required" class="alert alert-danger">Enter New Password</div>
        </div>
    </div>
    <div class="form-group">
        <label for="confpwd">Confirm Password</label>
        <input 
            id="confpwd" 
            type="password" 
            class="form-control"
            ngControl= "confpwd"
            #confpwd= "ngForm">
        <div *ngIf= "confpwd.control.pending"> Checking...</div>
        <div *ngIf= "confpwd.errors && confpwd.touched">
            <div *ngIf= "confpwd.errors.confirmPassword" class="alert alert-danger"> Password Didnot Match </div>
            <div *ngIf= "confpwd.errors.required" class="alert alert-danger">Enter Confirm Password</div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" >Sign Up</button>
</form>