<form #f="ngForm" (ngSubmit)= "onSubmit(f.form)">
    <div class="form-group">
        <label for="fname"> First Name: </label>
        <input 
            ngControl= "fname" 
            #fname="ngForm" 
            id="fname" 
            type="text" 
            class="form-control" 
            required
            minlength="3">
        <div *ngIf="fname.touched && fname.errors">
        <div *ngIf="fname.errors.required" class="alert alert-danger"> Enter First Name </div>
        <div *ngIf="fname.errors.minlength" class="alert alert-danger"> Enter Min {{fname.errors.minlength.requiredLength}} Characters </div>
        </div>
    </div>
    <div class="form-group">
        <label for="comment"> Comment:</label>
        <textarea 
            ngControl= "comment" 
            #comment="ngForm" 
            id="comment" 
            cols="30" rows="10" 
            class="form-control" 
            required></textarea>
        <div *ngIf="comment.touched && !comment.valid" class="alert alert-danger"> Enter Comments </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
</form>